@charset "utf-8";
.newUser{
    padding: 2%;
    border: 1px solid;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    height: 120px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(240, 249, 141, 0.795);
}

.usedUser{
    padding: 2%;
    border: 1px solid;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    height: 120px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(164, 238, 149, 0.76);
}